html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #000000;
}

body._TEMPLATE_ {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

._TEMPLATE_ #page {
    padding: 20px;
    flex: 1;
    overflow: auto;
    display: flex;
    background-color: #000000;
    color: #ffffff;
}

._TEMPLATE_ #page>:first-child {}

/* transition away from a page */
@keyframes out {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%
    }
}

._TEMPLATE_ #page[data-transition="out"] {
    animation: out 0.25s forwards;
}

/* transition into a page */
@keyframes in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

._TEMPLATE_ #page[data-transition="in"] {
    animation: in 0.25s forwards;
}