<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>moonsault</title>
    <meta name="description" content="A lightweight, native web component framework.">
    <meta name="author" content="EIBON.labs">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.png">
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="stylesheet" href="../../assets/css/framework.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body class="TemplateApplication" data-app="TemplateApplication">

</body>
<noscript>JavaScript is required in order to run this application.</noscript>
<script type="module" src="../../lib/moonsault.js" defer></script>

</html>